// 定位居中
.self-pos-center(@type: absolute) {
    position: @type;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// flex布局flex项目剧中
.selef-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
